# Node
node_modules
.next
dist

# Turbo
.turbo

# Rust
target

# Flutter/Dart
.dart_tool
build
ios/Pods
android/.gradle

# Supabase
.supabase

# Foundry
out
cache

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
